.footer {
  text-align: center;
  background-color: #020202;
  padding: 25px 0;
}

.footer p {
  font-size: large;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
}

.social ul {
  display: flex;
  width: 15rem;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

.social-link {
  font-size: 2.5rem;
  color: #00cc66;
}

.social-link:hover {
  color: #4b07eaa8;
  transition: all 0.3s ease-in;
}

.kbgreen {
  color: #00cc66;
}
