* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.btn {
  border-radius: 50px;
  padding: 8px 25px;
  background-color: #ed2f8e;
  border: 2px solid transparent;
}

.btn:hover {
  background-color: transparent;
  color: #ed2f8e !important;
  border-color: #ed2f8e;
  border: 2px solid #ed2f8e;
}

@media (max-width: 768px) {
  .btn {
    border: none;
    padding: 0;
    background-color: transparent;
  }
  .btn:hover {
    color: #00cc66 !important;
    border: none;
  }
}
