@import url(//db.onlinewebfonts.com/c/2a61d83e6af5b73f8f7751643f767325?family=Greycliff+CF+Demi+Bold);

*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

html,
body {
  font-family: "Greycliff CF Demi Bold";
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  background-color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

.underline {
  width: 5.5em;
  height: 0.25em;
  margin-bottom: 1.25em;
  margin-left: auto;
  margin-right: auto;
  background: #00cc66;
}

.greenB {
  color: #00cc66;
  text-transform: capitalize;
}

.logo {
  color: white;
  text-transform: lowercase;
}
