.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: #020202;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 999;
}

.header a {
  color: #fff;
  margin-right: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.5s ease;
}

.header a:hover {
  color: #00cc66;
}
.header ul {
  display: flex;
}

.logo {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  font-size: 2.5rem;
}

@media (max-width: 768px) {
  .header {
    display: none;
  }
}
