.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  background-color: #020202ea;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 999;
}

.header a {
  color: #fff;
  margin-right: 1.5rem;
  transition: all 0.5s ease;
  font-size: 1.2rem;
}

.header a:hover {
  color: #00cc66;
}

.header ul {
  display: flex;
}

@media (max-width: 768px) {
  .header {
    display: none;
  }
}
