.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  background-color: #020202ea;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navlinks {
  color: #fff;

  text-transform: capitalize;
}

.navlinks a {
  margin-right: 1.5rem;
  transition: all 0.5s ease;
  font-size: 1.2rem;
}

.navlinks a:hover {
  color: #00cc66;
}

.navbar ul {
  display: flex;
}

.toggleBtn {
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: #00cc66;
  cursor: pointer;
  transition: all 0.4s linear;
  outline: none;
}

.toggleBtn:hover {
  color: #fff;
}

@media (max-width: 768px) {
  .navbar ul {
    display: none;
  }
}

@media (min-width: 768px) {
  .toggleBtn {
    display: none;
  }
}
