.services {
  /* margin-top: 5rem; */
  padding: 5rem 3.5rem;
  background: #fff;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  margin: 10rem 2rem;
}

.container h2 {
  font-size: 2.5rem;
  color: rgb(27, 27, 27);
  padding-bottom: 1.5rem;
}

.container h4 {
  font-size: 1.5rem;
  color: #555;
  text-align: left;
  line-height: 1.5;
  z-index: 1;
}

.col1 {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.col2 {
  display: flex;
  flex: 1;
  border-radius: 0.25rem;
  padding: 1rem;
  justify-content: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  background: hsla(206, 33%, 96%, 0.65);
}

@media (max-width: 769px) {
  .services {
    padding: 2rem 1.5rem;
  }
  .container {
    flex-direction: column-reverse;
    gap: 1rem;
    margin: 3rem 1.5rem;
    border-radius: 0.25rem;
    padding: 1.5rem 0.5rem;
    background: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }

  .containerOpp {
    flex-direction: column;
  }

  .container h2 {
    font-size: 1.5rem;
    text-align: center;
  }

  .container h4 {
    font-size: 16px;
    text-align: center;
    padding: 0 16px;
  }

  .col2 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: none;
  }
}

@media (max-width: 375px) {
  .container {
    margin: 2rem 0;
  }
  .col2 {
    padding: 0;
    margin-bottom: -16px;
    margin-top: 5px;
  }
}

.btn {
  /* text-transform: uppercase; */
  background-color: #00cc66;
  color: #fff;
  padding: 8px 25px;
  letter-spacing: 0.2rem;
  display: block;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  font-size: 1.2rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
  width: 12.5rem;
  text-align: center;
  margin: 0 auto;
  margin-top: 3rem;
}

.btn:hover {
  color: #555;
  background-color: #00cc662f;
}
